.container-food {
  margin: 0;
  padding: 0.3rem;
  display: flex;
  column-gap: 0.5rem;

}

.food-card {
  width: 10rem;
  height: 15rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border: 1px solid black;
  overflow: hidden;
}

.food-card-image {
  position: relative;
  width: 100%;
}

.food-name {
  font-weight: 600;
  font-size: 1rem;
}
.food-title {
  font-weight: 400;
  font-size: 0.8rem;
}